@charset "UTF-8";
html, body {
	height: 100%;
	box-sizing: border-box;
}


body {
	margin: 0px;
	padding: 0px;
	/* background: #16a085; */
	/* font-family: 'Raleway', sans-serif; */
	font-size: 11pt;
	font-weight: 400;
	color: #363636;
	min-height: 100%;
	background-color: #e1e1e1;	
	 /* background-image: linear-gradient(red, yellow); */
	/* background-image: linear-gradie */
}



.container {
	/* width: 1200px;	 */
	width: 80%;	
	margin: 0px auto;
}



#header-wrapper
{
	overflow: hidden;
	/* background: url(images/bg01.png) repeat; */
	/* background-size: 100%; */
	/* padding: 6em 0em 2em 0em; */
	padding: 0em 0em 0em 0em;
	/* background: #333333; */
	background: #005e8a;
}

#header {
	position: relative;
	overflow: hidden;
	text-align: center;
}

.makecenter{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.noRecord{
	
	font-size: 16px;
	font-weight: bold;
	text-align: center;
/* 	color: white; */
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* width: 500px; */
	height: 100px;
	margin: 0 auto;
	/* padding: 2em 0em; */
	padding: 0em 0em;
	text-transform: uppercase;
}

#logo h1 {
	/* letter-spacing: 0.10em; */
	font-size: 2.5em;
	margin: 0px;
	padding: 0px;
}

#logo h2 {
	/* letter-spacing: 0.10em; */
	font-size: 2em;
	margin: 0px;
	padding: 0px;
}


#logo p {
	letter-spacing: 0.10em;
	color: #FFF;
}

#logo a {
	text-decoration: none;
	color: #FFF;
}


/*********************************************************************************/
/* Footer                                                                          */
/*********************************************************************************/
#footer-wrapper
{
	/* overflow: hidden; */
	/* background: url(images/bg01.png) repeat; */
	/* background-size: 100%; */
	/* padding: 6em 0em 2em 0em; */
	position:fixed;
	padding: 0em 0em 0em 0em;
	/* background: #333333; */
	background: #005e8a;
	bottom: 0px;
	width: 100%
	
}

#footer {
	/* position: relative; */
	/* overflow: hidden; */
	text-align: center;
}

#footer p {
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(255, 255, 255, .5);
}

#footer a {
	text-decoration: none;
	color: rgba(255, 255, 255, .7);
}




/*********************************************************************************/
/* TITLE                                                                          */
/*********************************************************************************/
#mainbody{
	
	padding:0px;
	margin:0px;
}

#pagename-wrapper{
	padding:0px;
	margin:0px;
	background: #16a085; 
	/* width: 100%; */
	height: 50px;
	align-content: center; 
	text-align: center;
	color: white;
	font-weight: bold;
}

a{
	text-decoration: none;
}
